header {
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 70px;
        color: rgb(154, 218, 235);
    }

    img {
        height: 60%;
    }
}